/* Import modular CSS files */
@import "./styles/theme.css";
@import "./styles/typography.css";
@import "./styles/buttons.css";
@import "./styles/forms.css";
@import "./styles/tables.css";
@import "./styles/cards.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
    color: var(--text-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: var(--spacing-lg);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    color: var(--text-dark);
}

h1 {
    font-size: var(--font-size-3xl);
}

h2 {
    font-size: var(--font-size-2xl);
}

h3 {
    font-size: var(--font-size-xl);
}

p {
    margin-top: 0;
    margin-bottom: var(--spacing-lg);
}

button {
    font-family: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media print {
    @page {
        size: portrait;
    }
    body * {
        visibility: hidden;
    }
    .section-to-print,
    .section-to-print * {
        visibility: visible;
    }
    .section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    .section-to-print table {
        text-align: "left";
        margin-left: auto;
        margin-right: auto;
        width: "80%";
    }
    .section-to-not-print {
        visibility: hidden;
    }
}
