name: Docker Build and Push to Dockerhub

on:
  workflow_dispatch:
#   push:
#     branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Frontend Tests
      - name: Install Frontend Dependencies
        run: npm ci
        working-directory: ${{ github.workspace }}/client-app
      - name: Run Frontend Tests
        run: npm test
        working-directory: ${{ github.workspace }}/client-app
        if: ${{ always() }}
        env:
          CI: true

      # Backend Tests
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install Backend Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: ${{ github.workspace }}/backend
      - name: Create data directory
        run: mkdir -p data
        working-directory: ${{ github.workspace }}/backend
      - name: Run Backend Tests
        run: pytest
        working-directory: ${{ github.workspace }}/backend
        if: ${{ always() }}
      - name: Dockerhub Login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - name: Build the Backend Docker image
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USER }}/golfbackend:latest
        working-directory: ${{ github.workspace }}/backend
      - name: Build the Frontend Docker image
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USER }}/golffrontend:latest
        working-directory: ${{ github.workspace }}/client-app
      - name: Push Backend Docker image
        run: docker push ${{ secrets.DOCKER_USER }}/golfbackend:latest
      - name: Push Frontend Docker image
        run: docker push ${{ secrets.DOCKER_USER }}/golffrontend:latest
